@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";


@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* IE and Edge */
  .no-scrollbar {
    -ms-overflow-style: none;
  }

  /* Firefox */
  .no-scrollbar {
    scrollbar-width: none;
  }
body {
    font-family: "Outfit", sans-serif;
}
}

/* For Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox and other browsers */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}
