@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

@tailwind utilities;

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* IE and Edge */
  .no-scrollbar {
    -ms-overflow-style: none;
  }

  /* Firefox */
  .no-scrollbar {
    scrollbar-width: none;
  }
}

* {
    font-family: "Open Sans", sans-serif;
}
